@model dynamic
@{
    ViewData["Title"] = $"You are viewing this page from location: {ViewData["Location"]}";
}
<h1>@ViewData["Title"]</h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Location"]</title>
</head>
<body>
    
</body>
</html>